@font-face {
  font-family: "MyFont";
  src: url("./fonts/RobotoSlab-Regular.ttf");
}
body {
  margin: 0;
  background-color: #0b0f2b;
  background-position: center;
  min-height: 100vh;
  font-family: "MyFont";
}


.name {
  background-image: url("images/881563d6444b370fa4ceea0c3183bb4c.gif");
  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  padding: auto;
}

.name .saludo{
  color: rgb(125, 215, 148);
  margin: 0;
  font-size: 60px;
}

.name .soy{
  color: rgb(196, 184, 184);
  margin: auto;
  font-size: 35px;
}

.name .firstname {
  text-shadow:#4b6095 ;
  text-align: left;
  margin: 0px 120px 0px;
  padding: 0px 50px;
  color: white;
  font-size: 90px;
  font-family: "MyFont";
  font-weight: 900;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
.name .description {
  color: rgb(196, 184, 184);
  margin: auto;
  font-family: "MyFont";
  font-size: 25px;
  padding: 0;
}
.name img {
  width: 20%;
  align-items: center;
  margin-top: 200px;
  margin-left: 90px;
}

.description {
  color: rgb(196, 184, 184);
  padding-left: 40px;
  margin: 50px 120px;
  font-family: "MyFont";
  font-size: 25px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10%;
  background-color: #4b6095;
  height: 80px;
  justify-content: space-between;
}
header .logo {
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: none;
  margin-left: 0px;
}
header .logo img {
  max-height: 100px;
  max-width: 80px;
  width: 50px;
}
header li {
  list-style-type: none;
}
header li a {
  color: white;
  display: block;
  padding: 12px 40px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
header li a:hover {
  color: rgb(226, 149, 48);
}
header li .cta {
  background-color: rgb(214, 129, 32);
  border-radius: 10px;
  margin-left: 14px;
}
header li .cta:hover {
  color: white;
  background-color: rgb(155, 93, 23);
}
header ul {
  display: flex;
  flex-direction: row;
}

.codes-row {
  display: flex;
  width: 50%;
  margin: auto;
}

.column {
  margin-top: 20px;
  flex: 12.5%;
  padding: 5px;
  height: 50px;
}
.column img {
  max-height: 100px;
  max-width: 80px;
  width: 80px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.column p {
  color: white;
  text-align: center;
  font-weight: 200;
}

.habilidades {
  margin: auto;
  margin-top: 150px;
  text-align: center;
  color: aqua;
  font-weight: 800;
  width: 35%;
  border-style:double;
  font-size: 20px;
}

.proyectos {
  margin: 180px auto 80px;
  text-align: center;
  color: aqua;
  font-weight: 800;
  width: 35%;
  border-style: double;
  font-size: 20px;
}

.proyectos_grid {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.column-project {
  margin-top: 20px;
  flex: 33.3%;
  margin: auto 100px;
  padding: 10px 20px;
}
.column-project img{
  width: 400px;
}

.App{
  color: white;
  background-color: black;
  margin: 0 auto; 
  padding: 10px 110px;
}

